# Ignore the huge world data
data/world/
data/world_nether/
data/world_the_end/
data/server.properties

# Ignore logs and backups
*.log
*.tar.gz
data/.rcon-cli.env
data/.rcon-cli.yaml

data/plugins/*

# 2. Re-include all .jar files in the plugins folder
!data/plugins/*.jar

# 3. Re-include the PlaceholderAPI/expansions folder specifically
!data/plugins/PlaceholderAPI/
!data/plugins/PlaceholderAPI/expansions/
!data/plugins/PlaceholderAPI/expansions/*.jar

# 4. Explicitly ignore the data folders of other plugins you don't want to track
data/plugins/bStats/
data/plugins/BetterTeams/
data/plugins/Essentials/userdata/
data/plugins/Essentials/usermap.bin

# Java/Server Junk 
data/cache/
data/libraries/
data/versions/
data/patcher/

# Security/Secrets ( If i have these, just for measurements ykyk)
.env
authlib-bundle.json
